<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>582512223771-rmlfit65f4a2s6i9mhoa8fdhjhajhhfa.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.582512223771-rmlfit65f4a2s6i9mhoa8fdhjhajhhfa</string>
	<key>API_KEY</key>
	<string>AIzaSyALQC0fFkGg7hsygewL6z5bTffhRU2CDzA</string>
	<key>GCM_SENDER_ID</key>
	<string>582512223771</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.calorieTracker</string>
	<key>PROJECT_ID</key>
	<string>final-project-f8ca2</string>
	<key>STORAGE_BUCKET</key>
	<string>final-project-f8ca2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:582512223771:ios:6fd7fdc6f5543e7bebfabe</string>
</dict>
</plist>